@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Live Poll</h1>
    <p class="lead">Live Poll is one of the most exciting products on the market today.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Collect feedback</h2>
        <p>
            Want to know what your students are thinking as you were going through History 101 with them? Or you might want to provide an outlet for parents to give feedback. Our product allows you to do that in an easy way. 
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Multi-Plaform</h2>
        <p>Doesn't matter if you're on your phone, tablet or desktop. We have developed Live Poll to work on most platforms.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Amazing and beautiful reports</h2>
        <p>After all that feedback has been collected, we'll provide you with an easy to understand breakdown. Do you want to drill down right up to the individual student? No problem, that's easy too!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>